$color1: #fcebe4;
$color2: #f1a2a7;
$color3: #f30044;
$color4: #2f000b;

$headerHeight: 140px;

@mixin justify-content-left-row {
	display: flex;
	justify-content: left;
	flex-direction: row;
	align-items: center;
}

@mixin justify-content-right-row {
	display: flex;
	justify-content: right;
	flex-direction: row;
	align-items: center;
}

@mixin flex-center-all {
	display: flex;
	justify-content: center;
	align-items: center;
}


body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	// max-width: 800px;
	margin: 0 auto;
    height: fit-content;
}

header {
	width: 100%;
	height: $headerHeight;
	background: $color1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    border-bottom: 1px solid $color4;
}

.left-container {
	@include justify-content-left-row;
} 

.right-container {
	@include justify-content-left-row;
} 

.menu-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background: $color2;
	width: 60px;
	height: 60px;
	padding: 5px;
	margin: 10px 30px 10px 30px;
	border-radius: 5px;
    border: 1px solid $color4;
	transition: all 0.2s ease-out;
	span {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 40px;
		height: 8px;
		background: $color3;
		margin: 3px;
		border-radius: 2px;
		transition: all 0.3s ease-out;
		
	}
	&:hover {
		span {
			scale: 0.9;
		}
	}
	
}
.menu-container {
    position: absolute;
    top: $headerHeight;
    width: 100%;
	display: flex;
    justify-content:left;
    background-color: $color2;
    // transition: all 1s ;
    overflow: hidden;
    transform:translateY(1) scaleY(1);
	li {
		margin-left: 20px;
		padding: 10px;
	}
}

.sub-navigation {
    height: fit-content;
    // transition: all 1s;
    li{
        font-size: medium;
} 
}

.logo-container {
	img {
		height: 120px;
		margin-top: 10px;
		z-index: 100;
	}
}

//js - Menu
.hidden {
	// display: none;
    opacity: 0;
    transform:translateY(-90px) scaleY(0);
    height: 0%;
    background-color: $color1;
}
//js - Menu button effect
.open {
	@include flex-center-all;
	box-sizing: border-box;
	transform: rotate(-90deg) scale(.9);
	background: #f1a2a7b0;
	width: 60px;
	height: 60px;
	padding-left: 20px;
	span:nth-child(1) {
		transform: rotate(45deg);
		transform-origin: 0 0;
		width: 45px;
	}
	span:nth-child(2) {
		width: 0;
		opacity: 0;
	}
	span:nth-child(3) {
		transform: rotate(-45deg);
		transform-origin: 0 100%;
		width: 45px;
	}
	&:hover {
		scale: 1.1;
		span {
			scale: 1;
		}
	}
		
}

.hidden-sub {
    transform:translateY(-60px) scaleY(0);
    height: 0px;
    background-color: transparent;
	color: transparent;
	scale: 0;
}